p{
    color:rgb(74, 113, 152);
    text-align: center;
    font-size: 14px;
    font-family: 'Bree Serif', serif;
}


/* botão input */
.st-b7 {
    width: 100%;
    border-radius: 2.25rem;

    
}

.css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    padding: 6rem 1rem 10rem;
    min-width: auto;
    max-width: initial;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: center;
}