p{
    color:rgb(74, 113, 152);
    text-align: center;
    font-size: 14px;
    font-family: 'Bree Serif', serif;
}



/* sidebar */
.css-ppzyts {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    flex-shrink: 0;
    height: 100vh;
    overflow: auto;
    padding: 3rem 1rem;
    position: relative;
    transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
    width: 15rem;
    z-index: 100;
    margin-left: 0px;
}


/* botão input */
.st-b7 {
    width: 600px;
    border-radius: 2.25rem;

    
}

/* Plotly */
.main-svg{
    border-radius: 2.25rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;  
    align-items: stretch;
}

.plot-container.plotly{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;  
    align-items: stretch;

}


/* DataFrame style */
.stDataFrame {
    border-radius: 10px;
    background: rgb(240, 238, 238);
    background-color:#fff;
}

















/* centralização página */

/* .css-12oz5g7 {
    flex: 1 1 0%;
    width: 100%;
    padding: 6rem 1rem 10rem;
    max-width: 46rem;
} */

/* .css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    padding: 6rem 1rem 10rem;
    min-width: auto;
    max-width: initial;
    text-align: center;
    justify-content: center;
} */
